.uppp {
background-color: #4a5e5a;
color: white;
padding: 20px;
text-align: center;
border-radius: 10px;
}

.cources-header {
    position: relative;
    height: 300px;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cources-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('ImagesCollection/mathematics0.jpg');
    background-size: cover;
    background-position: center;
    animation: slideshow 12s infinite;
    z-index: -1;
}

.courcesHeader-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem 2rem;
}

.card {
    background-color: black;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(190, 5, 5, 0.1);
    padding: 1rem;
    width: 200px;
    height: fit-content;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.0);
    box-shadow: burlywood 0px 0px 20px 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.card h3 {
    margin-top: 0;
    color: blue;
    font-size: large;
}
.card p {
    color: black;
}

.card a {
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
}
.hidden {
    display: none !important;
}


body {font-family: Verdana, sans-serif; margin:0}

img {vertical-align: middle;}



/* filter button */
.nav-buttons {
text-align: center;
margin: 20px 0;
}
.nav-buttons button {
background-color: #00c4b4;
border: none;
padding: 10px 20px;
margin: 0 5px;
border-radius: 20px;
cursor: pointer;
color: white;
}
.nav-buttons button:hover {
background-color: black;
}

/* style for column grid */
.box {
display: grid;
grid-template-columns: repeat(4, minmax(200px, 1fr));
gap: 50px;
padding: 20px;
background-color: white;
}
.card {
background-color: black;
padding: 20px;
border-radius: 10px;
text-align: center;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
text-decoration: none;
color: black;
}
.card h3 {
color: #1e88e5;
margin: 0;
}
.card h4 {
    color: whitesmoke;
}
.card p {
color: wheat;
margin: 10px 0 0;
}
.card:hover {
transform: scale(1.05);
transition: transform 0.2s;
}

/* back button */
.back-button {
    display: inline-block;
    background-color: goldenrod;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
    margin-bottom:5px;
}
.back-button:hover {
    background-color: #009688;
}