:root {
    --primary-color: lightblue;
    --secondary-color: violet;
    --text-color: black;
}

.form-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px royalblue;
}

.peedarp-header {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    width: 180px;
    height: auto;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.formGroup input {
    width: 97%;
    padding: 12px;
    border: 2px solid thistle;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.formGroup input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.submitButton {
    width: 100%;
    padding: 14px;
    background: var(--primary-color);
    color: whitesmoke;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submitButton:hover {
    background: chartreuse;
}

.authOptions {
    text-align: center; 
    margin-top: 20px; 
}

.loginViaOther-options {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    align-items: center; /
}

.auth-logo {
    width: 32px; 
    height: 32px; 
    display: block;
}