/* videos.css */
h1 {
    color: blue;
    text-align: center;
}
.video-container {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}
iframe {
border: none;
}

.video {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 560px;
    text-align: center;
}

.video h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}